.admin {
    padding: 0;
}

.admin .adminHeader {
    width: 100%;
    height: auto;
    background-color: #eee;
}

.admin .adminHeader nav {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.admin .adminHeader nav h6 {
    color: white;
}

.admin .adminHeader nav ul {
    width: 250px;
    list-style: none;
    margin: 0;
    overflow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.admin .adminHeader nav ul li {
    color: white;
    text-transform: capitalize;
}

.admin .adminHeader nav ul li:last-child {
    color: rgb(51, 51, 51);
    cursor: pointer;
}

@keyframes rotate-90-cw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.admin .adminHeader nav ul li:last-child:hover {
    -webkit-animation: rotate-90-cw 1.5s ease-in-out infinite;
    animation: rotate-90-cw 1.5s ease-in-out infinite;
}

.admin .adminHeader .edit {
    width: 100%;
    height: 100%;
}

.admin .adminHeader .edit ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.admin .adminHeader .edit ul li {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5px;
    color: rgb(34, 34, 34);
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 5px -4px rgba(173, 173, 173, 1);
    -moz-box-shadow: 0px 6px 5px -4px rgba(173, 173, 173, 1);
    box-shadow: 0px 6px 5px -4px rgba(173, 173, 173, 1);
}

.admin .adminHeader .edit ul li button {
    width: 100%;
    height: 100%;
    border: none;
}

.hide {
    display: none;
}
